	html, body
	{
		height: 100%;
        width: 100%;
	}
	
	body
	{
        display: inline-block;
        width: 100%;
		margin: 0px;
		padding: 0px;
		background: #FFFFFF;
		font-family: 'Pontano Sans', sans-serif;
		font-size: 12pt;
		color: #000000;
	}
	


	header {
		
		overflow: hidden;
		background: #27AE60;
	}
	h1
	{
		margin: 0;
		padding: 0;
		font-size: 300%;
	}
	h2{
		margin: 0;
		padding: 0;
		font-size: 200%;

	}

	h3{
		margin: 0;
		padding: 0;
		font-size: 150%;
	}
	
	ul
	{
		margin-top: 0;
	   	padding: 0;
		list-style: none;
	}
	
	a
	{
		color: #0000FF;
	}
	
/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/




    form label
    {
        display: block;
        text-align: center;
        margin-bottom: 0.5em;
    }
		
    form input.text, form select, form textarea
    {
        position: relative;
        display: block;
        border: 0;
        background: rgba(0,0,0,0.1);
        width: 100%;
        margin: 1em 0em;
        padding: 1em 1em;
        font-family: 'Pontano Sans', sans-serif;
        font-size: 1.2em;
        outline: none;
		text-align:center;
    }

    form input.text:focus, form select:focus, form textarea:focus
	{
        box-shadow: 0 0 2px 1px #E0E0E0;
        background: #ffffff;
    }				
   

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

button
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 30px;
		letter-spacing: 0.10em;
		text-decoration: none;
		font-size: 0.90em;
		text-transform: uppercase;
		outline: 0;
		color: white;
		border:0;
		width:240px;
		background-color: #27AE60;
		border-radius: 20px;
		
	}
	
	
	button:hover 
	{
		background: #FFBD4F;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
		text-align: center;
	}
	
	.title h2
	{
		font-size: 3em;
		color: #000000;
		
	}
	
	.title span
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
		
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#logo h1
	{
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #333;
	}
	
	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(0,0,0,0.5);
	}

	#logo span a
	{
		color: rgba(0,0,0,0.8);
	}
	
	

/*********************************************************************************/
/* Nav                                                                         */
/*********************************************************************************/

	
	nav ul
	{
		text-align: center;
	}
	
	nav li
	{
		display: inline-block;
	}
	
	nav li a
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 30px;
		letter-spacing: 0.10em;
		text-decoration: none;
		font-size: 0.90em;
		text-transform: uppercase;
		outline: 0;
		color: #FFFFFF;
	}
	
	nav li:hover a, nav li.active a
	{
		background: #1D702D;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Menu                                                                       */
/*********************************************************************************/

menu {
	position: relative;
	float: left;
	margin-left: 20px;
	display: inline-block;
	
	width: 300px;
	

}
menu button 
	{
		
		display: inline-block;
		margin-left: 0.50em;
		padding: 15px;
		letter-spacing: 0.10em;
		text-decoration: none;
		font-size: 0.90em;
		text-transform: uppercase;
		outline: 0;
		color: white;
		border:0;
		background-color: #27AE60;
		border-radius: 20px;
	}
		
menu button:hover {
	background-color: #87591A;
	color:white;
}
#info{

		overflow: hidden;
		position: relative;
	
		text-align: center;
		margin-top:16px;
		width: 800px;
	
		margin-left: 400px;
		min-height: 400px;

}
#info form
	{
		width: 700px;
		margin: 30px;
		
	}

	#info form textarea
	{
		min-width:700px;
		max-width: 700px;
		min-height: 200px;
		max-height: 600px;
		
		margin-bottom: 20px;
		position: relative;
	}


/*********************************************************************************/
/* Accueil                                                                       */
/*********************************************************************************/


#welcome{
	text-align: center;
	width: 70%;
	margin: auto;
}




#annonce{

	margin:auto;
	width:98%;
	
}

#accueil{
	
	display: inline-block;
		margin: 10px;
		width : 52%;


}

#accueilimg{
	
	height: auto;
	width:30%;
	vertical-align: top;
	max-height: 300px;
	float: right;
	margin-right: 10%;
	
}

#accueilimg img{
	
	height: auto;
	width:auto;
	max-width: 300px;
	max-height: 200px;
	margin : 10px;
}



	#accueilimg2 {
	height: auto;
	width:auto;
	max-width: 300px;
	vertical-align: top;
	max-height: 300px;
	float: left;
	margin: 10px;
	
	
}

#accueilimg2 img {
	height: auto;
	width:auto;
	vertical-align: top;
	max-height: 300px;

	
}

#accueilimg1 {
	height: auto;
	width:auto;
	max-width: 400px;
	margin-right: 10%;
	vertical-align: top;
	max-height: 300px;
	float: right;
	
	
}

#accueilimg1 img{
	height: auto;
	width:auto;
	max-width: 400px;
	vertical-align: top;
	max-height: 300px;
		

	
}

#descriptionAnnonce{
	display: inline-block;
	margin-left: 70px;
	margin-top: 50px;
	text-align: left;


}

	

#annonce{
	display: inline-block;
		margin: 10px;
		width : 98%;

}

#lienPageMessage{
	text-align: center;
	margin: auto;
}
#lienPageAnnonce{
	text-align: center;
	margin: auto;
}


#annonce input{
	width:60%;
	margin-left: 20%;
}



/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
	}
	
	#banner .heading
	{
		padding: 0em 15em;
		text-align: center;
		font-weight: 300;
	}

	#banner .heading h2
	{
		display: block;
		padding-bottom: 0.5em;
		font-weight: 300;
		font-size: 2.5em;
		color: rgba(255,255,255,.8);
	}
	
	#banner .heading p
	{
		font-size: 1.2em;
		color: rgba(255,255,255,.4);
	}
	
	#banner 
	{
		overflow: hidden;
		padding: 8em 0em;
		border-top: 30px solid rgba(255,255,255,.4);
		border-left: 30px solid rgba(255,255,255,.4);
		border-right: 30px solid rgba(255,255,255,.4);
		background: url(images/img02.jpg) no-repeat;
		background-size: 100% 100%;
	}
	
	#banner img
	{
	}
	
	#banner .button
	{
		background: #F3CD52;
		font-size: 1.3em;
		color: #333;
	}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	
	
	footer{
		
		font-size: 75%;
		color: black;
	}
	footer #tbox1,#tbox2,#tbox3, #tbox4
	{
		float: left;
		
		text-align: center;
		width: 250px;
		margin-left: 40px;
		padding: 20px 10px 20px 10px;
		
	}


	footer button {

		display: inline-block;
		margin-left: 0.50em;
		padding: 10px;
		text-decoration: none;
		font-size: 0.70em;
		text-transform: uppercase;
		outline: 0;
		color: white;
		border:0;
		background-color: #AECDA2;
		width:240px;
		text-align: center;
		border-radius: 20px;
	}
	
	footer button:hover
	{
		background-color: #27AE60;
		color: #FFFFFF;
	}
	

	
	

/*********************************************************************************/
/* Inscription / Connexion                                                                    */
/*********************************************************************************/

	#inscription
	{
        display: inline-block;
		overflow: hidden;
		text-align: center;
		vertical-align: top;
		margin: 0px auto;
		width: 600px;
		
	}
	
	#inscription .title
	{
		margin-bottom: 40px;
		margin-top: 15px;
		margin-left: 40px;
	}
	
	#inscription .title h2
	{
		color: #000000;
	}
	#inscription .title span
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}


	#inscription form
	{
		width: 450px;
		margin: 0px auto;
	}

    #connexion
	{
        display: inline-block;
		overflow: hidden;
		text-align: center;
		vertical-align: top;
		width: 600px;
		margin: 0px auto;
		
	}
	
	#connexion .title
	{
		margin-bottom:40px;
		margin-top: 15px;
		margin-left: 40px;
	}
	
   #connexion .title h2
	{
		color: #000000;
	}
	#connexion .title span
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

	#connexion form{
		width: 450px;
		margin:  0px auto;
	}
/*********************************************************************************/
/* Mettre en ligne une annonce                                                                   */
/*********************************************************************************/

#formulaire
	{
        margin-top: 17px;
		overflow: hidden;
		text-align: center;
		width: 800px;
		margin-left: 400px;
		
	}
	
	#formulaire .title
	{
		margin-bottom: 40px;
		margin-top: 15px;
		margin-left: 40px;
	}
	
	#formulaire .title h2
	{
		color: #000000;
	}
	#formulaire .title span
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}


	#formulaire form
	{
		width: 700px;
		margin-left: 70px;
	}

	#formulaire form textarea
	{
		min-width:700px;
		max-width: 700px;
		min-height: 200px;
		max-height: 600px;
		margin-right: 0px auto;
		margin-bottom: 20px;
		position: relative;
	}



	


	#formulaireContact form textarea
	{
		min-width:550px;
		max-width: 550px;
		min-height: 200px;
		max-height: 600px;
		
		margin-bottom: 20px;
		position: relative;
	}
	
	
	#formulaireContact form 
    {
        
        width: 550px;
		margin:auto;
		
        text-align:center;
    
    }

  


/*********************************************************************************/
/* Recherche                                                               */
/*********************************************************************************/

 #recherche
	{  
		overflow: hidden;
		text-align: center;
		vertical-align: top;
	}
	
	
   #recherche .title h2
	{
		color: #000000;
	}

	#recherche form{
		width: 500px;
		margin:  0px auto;
	}

	#recherche button {
		display: inline-block;
		margin-left: 0.50em;
		padding: 10px;
		text-decoration: none;
		font-size: 0.70em;
		text-transform: uppercase;
		outline: 0;
		color: white;
		border:0;
		background-color: #27AE60 ;
		text-align: center;
		border-radius: 20px;
	}
#recherche button:hover{
	background-color: #1D702D;
		color: #FFFFFF;
}

	 #recherche form label
    {
        display: block;
        text-align: left;
        margin-bottom: 0.5em;
    }
		
    #recherche form input, form select, form textarea
    {
        position: relative;
        display: block;
        border: 0;
        background: rgba(0,0,0,0.1);
        width: 100%;
        margin: 1em 0em;
        
        padding: 25px;
        font-family: 'Pontano Sans', sans-serif;
        font-size: 1.2em;
        outline: none;
    }

   #recherche form input:focus, form select:focus, form textarea:focus
	{
        box-shadow: 0 0 2px 1px #E0E0E0;
        background: #ffffff;
        padding: 25px;
    }

    #presentation {
    	
    	text-align: center;
    	
    	padding:10px;


    }
    #carrousel{
    position:relative;
    height:350px;
    width:90%;
    margin:auto;
	}
	
	#carrousel img{
		
		max-width : 800px;
		min-width: 800px;
		display: block;
		margin: auto;
		height: auto;
		max-height: 350px;
	}



 .next{
    /* caractéristiques de la flèche "suivant" */
    position: absolute;
    top:100px;
    right:0;
    height:100px;
    width:50px;
    /* mettre ici l'image de la flèche "suivant */
    background: url('images/next.png') right top;
    background-size:50px 100px;
    cursor:pointer;

}
 .prev{
	/* caractéristiques de la flèche "précédent */
    position: absolute;
    top:100px;
    left:0;
    height:100px;
    width:50px;
    /* mettre ici l'image de la flèche "précédent" */
    background: url('images/prev.png') left top;
    background-size:50px 100px;
    cursor:pointer;
}

.next:hover{
    /* la flèche se décale de 2 px vers la droite lorsqu'on la survole */
    background-position:52px top;
}

.prev:hover{
    /* la flèche se décale de 2 px vers la gauche lorsqu'on la survole */
    background-position:2px top;
}

.CGU{
	margin-left:10%;
	margin-right:10%;
}
	

	/*********************************************************************************/
/* Admin                                                             */
/*********************************************************************************/


#AdminModule{
	text-align: center;
}


#AdminModule1{
	text-align: center;
	width :45%;
	margin: auto;
}


#AdminModule1 button 
	{
		
		display: inline-block;
		margin:10px;
		padding: 0px;
		text-decoration: none;
		font-size: 0.90em;
		text-transform: uppercase;
		outline: 0;
		color: white;
		border:0;
		background-color: #27AE60;
		border-radius: 20px;
	}
		
#AdminModule1 button:hover {
	background-color: #87591A;
	color:white;
}


#AdminModule button 
	{
		
		display: inline-block;
		margin:10px;
		padding: 0px;
		
		text-decoration: none;
		font-size: 0.90em;
		text-transform: uppercase;
		outline: 0;
		color: white;
		border:0;
		background-color: #27AE60;
		border-radius: 20px;
	}
		
#AdminModule button:hover {
	background-color: #87591A;
	color:white;
}


#photo img{

	max-width : 300px;
		min-width: 200px;
		display: block;
		margin: auto;
		height: auto;
		max-height: 300px;
}


	